/*
  *
  *
  * STYLE
  *
  *
*/

body{
    background:#333;
    font-family: 'Ubuntu', sans-serif;
    color:#000;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -ms-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

*{
    box-sizing:border-box;
}

.wrapper{
    width:1024px;
    padding:20px;
    margin:40px auto;
    background:#fff;
    overflow: hidden;
    position:relative;
    background:url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij4KPGc+Cgk8Zz4KCQk8cGF0aCBkPSJNMzkyLjUzMywxMDIuNGMtMzAuMTc0LDAtNTYuMjYsMTcuNTM2LTY4LjgxMyw0Mi45MDZMMTYwLjA0Myw3NS4xNTNjMS4zMjMtNC45MjQsMi4wOTEtMTAuMDc4LDIuMDkxLTE1LjQyICAgIEMxNjIuMTMzLDI2Ljc5NSwxMzUuMzMsMCwxMDIuNCwwQzY5LjQ3LDAsNDIuNjY3LDI2Ljc5NSw0Mi42NjcsNTkuNzMzczI2LjgwMyw1OS43MzMsNTkuNzMzLDU5LjczMyAgICBjMjEuNTM4LDAsNDAuMzg4LTExLjQ5NCw1MC45MDEtMjguNjM4bDE2NC42MDgsNzAuNTQ1Yy0xLjM3NCw1LjczNC0yLjE3NiwxMS42ODItMi4xNzYsMTcuODI2ICAgIGMwLDIwLjMxOCw3Ljk4NywzOC43NTgsMjAuOTE1LDUyLjUxNEwxOTkuODA4LDM0OS4wMDVjLTE2LjcwOC0xNS4zMDktMzguODg2LTI0LjczOC02My4yNzUtMjQuNzM4ICAgIGMtNTEuNzU1LDAtOTMuODY3LDQyLjExMi05My44NjcsOTMuODY3Uzg0Ljc3OSw1MTIsMTM2LjUzMyw1MTJjNTEuNzU1LDAsOTMuODY3LTQyLjExMiw5My44NjctOTMuODY3ICAgIGMwLTIxLjIzMS03LjE2OC00MC43NzItMTkuMDk4LTU2LjUwOGwxMzguNDUzLTExOC42ODJDMzYxLjk5MywyNTEuMTg3LDM3Ni43MTMsMjU2LDM5Mi41MzMsMjU2YzQyLjM1MSwwLDc2LjgtMzQuNDU4LDc2LjgtNzYuOCAgICBTNDM0Ljg4NCwxMDIuNCwzOTIuNTMzLDEwMi40eiBNMTAyLjQsNTEuMmMtNC43MSwwLTguNTMzLDMuODMxLTguNTMzLDguNTMzYzAsNC43MS0zLjgxNCw4LjUzMy04LjUzMyw4LjUzMyAgICBTNzYuOCw2NC40NDQsNzYuOCw1OS43MzNjMC0xNC4xMTQsMTEuNDg2LTI1LjYsMjUuNi0yNS42YzQuNzE5LDAsOC41MzMsMy44MjMsOC41MzMsOC41MzMgICAgQzExMC45MzMsNDcuMzc3LDEwNy4xMTksNTEuMiwxMDIuNCw1MS4yeiBNMTM2LjUzMywzNzUuNDY3Yy0yMy41MjYsMC00Mi42NjcsMTkuMTQtNDIuNjY3LDQyLjY2N2MwLDQuNzEtMy44MTQsOC41MzMtOC41MzMsOC41MzMgICAgcy04LjUzMy0zLjgyMy04LjUzMy04LjUzM2MwLTMyLjkzOSwyNi44MDMtNTkuNzMzLDU5LjczMy01OS43MzNjNC43MTksMCw4LjUzMywzLjgyMyw4LjUzMyw4LjUzMyAgICBTMTQxLjI1MiwzNzUuNDY3LDEzNi41MzMsMzc1LjQ2N3ogTTM5Mi41MzMsMTUzLjZjLTE0LjExNCwwLTI1LjYsMTEuNDg2LTI1LjYsMjUuNmMwLDQuNzEtMy44MTQsOC41MzMtOC41MzMsOC41MzMgICAgYy00LjcxOSwwLTguNTMzLTMuODIzLTguNTMzLTguNTMzYzAtMjMuNTI2LDE5LjE0LTQyLjY2Nyw0Mi42NjctNDIuNjY3YzQuNzE5LDAsOC41MzMsMy44MjMsOC41MzMsOC41MzMgICAgQzQwMS4wNjcsMTQ5Ljc3NywzOTcuMjUyLDE1My42LDM5Mi41MzMsMTUzLjZ6IiBmaWxsPSIjZDZkNmQ2Ii8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==) no-repeat right 20px top 20px #fff;
    background-size:400px auto;
}

.title{
    float:left;
    font-size:48px;
    font-weight: 300;
    background:#FFEB3B;
    font-weight: bold;
    padding:20px;
    padding-left:40px;
    position:relative;
    margin-bottom:20px;
}
.title:before{
    content:'';
    display: block;
    position:absolute;
    left:0px;
    top:-120px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 120px 120px;
    border-color: transparent transparent #FDD835 transparent;
}
.title:after{
    content:'';
    display: block;
    position:absolute;
    left:120px;
    top:-120px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 0 0;
    border-color: #FDD835 transparent transparent transparent;
}

.full_text{
    float:left;
    width:100%;
    padding:20px;
    background:rgba(240,240,240,0.9);
    line-height:24px;
    font-size:16px;
    color:#282828;
    margin-bottom:40px;
    border-bottom:1px solid #e4e4e4;
}
.full_text img{
  float:right;
  width:200px;
  margin-left:20px;
  border:10px solid #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.full_text.right{
    text-align: right;
    float:right;
}
.full_text.right img{
  float:left;
  width:100px;
  margin-left:0px;
  margin-right:20px;
  border:10px solid #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.subtitle{
    float:left;
    padding:20px;
    font-size:14px;
    text-transform: uppercase;
    background:#FDD835;
    color:#111;
    font-weight: 600;
}

.subtitle.right{
    float:right;
}

.center_title{
    float:left;
    padding:20px;
    width:100%;
    text-align: center;
    font-size:14px;
    text-transform: uppercase;
    background:#ddd;
    color:#000;
    font-weight: 400;
    margin-bottom:10px;
}

.step{
    float:left;
    width:18%;
    margin:0% 1%;
    min-height:100px;
    background:#fff;
    -webkit-box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    -ms-box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    -o-box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    box-shadow:0px 2px 10px rgba(0,0,0,0.3);
    padding:0px 10px;
    padding-bottom:10px;
    margin-bottom:40px;
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
    transform:scale(0.9);
    opacity: 0.5;
    -webkit-transition: 0.5s cubic-bezier(0.71, -0.2, 0.36, 1.2);
    -moz-transition: 0.5s cubic-bezier(0.71, -0.2, 0.36, 1.2);
    -ms-transition: 0.5s cubic-bezier(0.71, -0.2, 0.36, 1.2);
    -o-transition: 0.5s cubic-bezier(0.71, -0.2, 0.36, 1.2);
    transition: 0.5s cubic-bezier(0.71, -0.2, 0.36, 1.2);
}
.step.active{
    opacity: 1;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}

.table{
    float: left;
    width: 100%;
    height: 180px;
    display: table;
    padding: 0px 20px;
}

.table span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.step img{
    width:100%;
    display: block;
}

.step_title{
    float:left;
    width:100%;
    text-align: center;
    font-size:14px;
    text-transform: uppercase;
    padding:10px;
}


.animation {
    float:left;
    width:100%;
    height:600px;
    position:relative;
    border:1px solid #000;
    margin-bottom:40px;
    background:#000;
}
.animation.active {
  background: #000;
}

.animation.playing:before {
    display: none;
}

.authors{
  font-size:16px;
  line-height:24px;
  position:absolute;
  left:440px;
  top:48px;
}

.div1 {
  float: left;
  width: 70%;
  height: 21%;
  background: #b1b1b1;
  border: 10px solid #fff;
  display: none;
}

.div2 {
  float: left;
  width: 30%;
  height: 21%;
  background: #e1e1e1;
  border: 10px solid #fff;
  display: none;
}
.div1,.div2{
  padding:10px 20px;
  overflow: hidden;
}
.div1 p,.div2 p{
  font-size:14px;
  color:rgba(0,0,0,0.5);
  line-height:20px;
  margin:0px;
  padding:0px;
  display: none;
}

* {
  box-sizing: border-box;
}

.animation_container {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: #fff;
  padding: 10px;
}
.animation_container.active {
  left: 20px;
  right: 20px;
}

.newsletter {
  width: 400px;
  height: 100px;
  position: absolute;
  bottom: 0%;
  margin-bottom: 20px;
  padding: 10px 20px;
  z-index: 2;
  background: #fff;
  border: 1px solid #fff;
  right: 20px;
}
.newsletter.bordered{
  border: 1px solid #aaa;
}
.newsletter label {
  float: left;
  width: 100%;
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
  position: relative;
  top: 0px;
  left: 0px;
}
.newsletter input {
  float: left;
  width: 70%;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding-left: 10px;
  outline: none;
  position: relative;
  top: 0px;
  left: 0px;
}
.newsletter button {
  float: left;
  width: 30%;
  border: 0px;
  background: #ccc;
  height: 40px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
}
.newsletter button:hover {
  background: #aaa;
}

.newsletter.centered {
  right: 50%;
  margin-right: -200px;
  bottom: 100%;
  margin-bottom: -110px;
}

.newsletter.active label {
  left: -250px;
}
.newsletter.active input {
  top: 100px;
}
.newsletter.active button {
  left: 150px;
}

.newsletter *, .newsletter, .footer, a, .animation_container {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: 0.5s cubic-bezier(0.71, -0.2, 0.36, 1.2);
  -moz-transition: 0.5s cubic-bezier(0.71, -0.2, 0.36, 1.2);
  -ms-transition: 0.5s cubic-bezier(0.71, -0.2, 0.36, 1.2);
  -o-transition: 0.5s cubic-bezier(0.71, -0.2, 0.36, 1.2);
  transition: 0.5s cubic-bezier(0.71, -0.2, 0.36, 1.2);
}

.hidden {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 140px;
  background: #aaa;
  width: 100%;
  padding-left: 10px;
}
.footer a {
  float: left;
  padding: 5px 10px;
  background: #fff;
  margin-left: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.footer.active {
  background: #fff;
}

ul{
  list-style: none;
  padding:0px;
  margin:0px;
}
ul li{
  margin-top:20px;
}
ul li a{
  background:#FDD835;
  color:#333;
  display: inline-block;
  padding:5px 10px;
  text-decoration: none;
  transition:0.2s;
}
ul li a:hover{
  background:#333;
  color:#FDD835;
  display: inline-block;
  padding:5px 10px;
  text-decoration: none;
  transition:0.2s;
}
