/*
  *
  *
  * STYLE
  *
  *
*/
body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }
*{outline:none;}
.ui-loader{display: none !important;}

body{
    font-family: 'Ubuntu', sans-serif;
    color:#000;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -ms-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
    overflow: hidden;
}

*{
    box-sizing:border-box;
}

.header{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:60px;
  background:url(../images/header.jpg) no-repeat center top;
  background-size:100% auto;
  box-shadow:0px 0px 10px rgba(0,0,0,0.1);
  transition:0.2s ease-in-out;
}
.footer{
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  height:50px;
  background:url(../images/header.jpg) no-repeat center bottom;
  background-size:100% auto;
  box-shadow:0px 0px 10px rgba(0,0,0,0.1);
  transition:0.2s ease-in-out;
  z-index:2;
}
.header.scroll{
  top:-60px;
  transition:0.5s ease-in-out;
}

.timeline{
  position:absolute;
  left:0px;
  top:60px;
  bottom:0px;
  right:0px;
  overflow: auto;
  transition:0.2s ease-in-out;
  padding-bottom: 60px;
}
.timeline.scroll{
  top:0px;
  transition:0.5s ease-in-out;
}
.tweet{
  float:left;
  width:100%;
  position:relative;
  border-bottom:1px solid #f5f7f9;
  padding-bottom:20px;
}
.tweet_content{
  float:left;
  width:100%;
  position:relative;
  padding-left:80px;
  padding-top:14px;
  font-size:14px;
  padding-right:40px;
  transition:0.5s cubic-bezier(.49,-0.17,.36,1.21);
}
.tweet_content_image{
  position:absolute;
  left:14px;
  top:14px;
  width:52px;
  height:52px;
  background:url(../images/cat.jpg) no-repeat center center;
  background-size:cover;
  box-shadow:inset 1px 1px 10px rgba(0,0,0,0.1);
  border-radius:52px;
}
.tweet_content_name{
  float:left;
  font-weight: bold;
  color:#333;
  margin-right:5px;
}
.tweet_content_nickname{
  float:left;
  color:#666;
}
.tweet_content_time{
  float:right;
  color:#666;
}
.tweet_content_message{
  float:left;
  width:100%;
  margin-top:10px;
  color:#666;
  line-height:20px;
}
.tweet_content_message img{
  width:100%;
  height:auto;
}
.open_options{
  width:7px;
  height:23px;
  position:absolute;
  right:10px;
  top:14px;
  cursor:pointer;
  z-index:3;
}
.open_options div{
  position:absolute;
  left:0px;
  top:8px;
  width:7px;
  height:7px;
  border-radius:7px;
  background:#657786;
}

.open_options:before{
  content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
  border-radius:7px;
  background:#657786;
}

.open_options:after{
  content:'';
  position:absolute;
  left:0px;
  bottom:0px;
  width:7px;
  height:7px;
  border-radius:7px;
  background:#657786;
}

.tweet_button{
  width:60px;
  height:60px;
  border-radius:60px;
  background:url(../images/write.png) no-repeat center center #439BD5;
  background-size:30px;
  position:absolute;
  right:20px;
  bottom:70px;
  z-index:2;
}

.option_button{
  width:50px;
  height:50px;
  color:#fff;
  position:absolute;
  background:#ccc;
  border-radius:50px;
  text-align: center;
  line-height:50px;
  box-shadow:0px 2px 10px rgba(0,0,0,0.2);
  z-index:4;
  opacity:0;
  -webkit-transform:scale(0);
  right:0px;
  top:0px;
  transition:0.4s cubic-bezier(.75,-0.16,.27,1.2);
}
.option_button.active{
  opacity:1;
  -webkit-transform:scale(1);
}
.option_button:active{
  opacity:1;
  -webkit-transform:scale(1.2) !important;
  transition:0.1s cubic-bezier(.75,-0.16,.27,1.2);
}
.option_button.icon-heart.active{
  top: 14px;
  right: 90px;
}
.option_button.icon-retweet.active{
  top: 70px;
  right: 70px;
}
.option_button.icon-reply.active{
  top: 90px;
  right: 14px;
}
.option_button.icon-heart.clicked{
  background:#e81c4f;
}
.option_button.icon-retweet.clicked{
  background:#19cf86;
}
.option_button.icon-reply.clicked{
  background:#1da1f2;
}